[user]
	name = Theodore Keloglou
	email = theodorekeloglou@gmail.com

[core]
	editor = vim

[merge]
	tool = vimdiff

[push]
	default = simple

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	di = diff
	dc = diff --cached
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

	# Find branches containing commit
	fb = "!f() { git branch -a --contains $1; }; f"

	# Find tags containing commit
	ft = "!f() { git describe --always --contains $1; }; f"

	# Find commits by source code
	fc = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"

	# Find commits by commit message
	fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"

	# Remove branches that have already been merged with master
	# a.k.a. ‘delete merged’
	dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"

	# List contributors with number of commits
	contrib = shortlog --summary --numbered

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[help]
	# Automatically correct and execute mistyped commands
	autocorrect = 1

[merge]
	# Include summaries of merged commits in newly created merge commit messages
	log = true

